body
{
    background-color: #fff;
    color: #666;
}

.article
{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 15px auto;
    width: 90%;
}

.title
{
    text-align: center;
    font-size: 150%;
    color: #77f;
}

h2
{
    text-align: center;
    font-size: 200%;
}
